main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container_form {
    margin: 1%;
    padding: 1%;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(55, 55, 55);
    box-shadow: 0.3em 0.3em rgba(18, 9, 180, 0.549);

    form {  
        color: whitesmoke;

        .form_area {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.2em;

            .div_input {
                width: 100%;
                margin-top: 3%;
                
                input {
                    width: 100%;
                    border: 0.5%;
                    border-radius: 0.30em;
                    padding: 1%;
                }
            }
        }

        .finalizar {
            margin-top: 7%;
        }
    }
}
